.logo-title {
		width:20%!important;
	}
.logo-title img{
	width:66%!important;
	margin-top: -10px!important;
}
.top-menu {
    width: 100px!important;
}
.left-bar {
		width: 225px!important;
}
.right-content {
		left: 225px!important;
}
.menu-item {
		width:175px!important;
}
.login-content{
	width:280px!important;
}
.login-box {
		width: 320px!important;
		height:320px!important;
}
.login-text{
	font-size:24px;padding:0px 0 10px 0!important;
}
.login-btn button{
	width:280px!important;
}
.login-image{
	top:100px!important;
}




.swiper-container{
	padding-top:220px!important;
	box-sizing: border-box!important;
}
.swiper-inner{
	width:800px!important;
}
.swiper-inner>.inner-box{
	width:100px!important;
	margin: 0 50px 80px!important;
}
.animate-box{
	height:100px!important;
}
.animate-box .animate-box-inner{
		height:100px!important;
}
.nav-item{
	height:100px!important;
	line-height: 100px!important;
}
.animate-box{
	top:-110px!important;
}
.nav-text{
	margin-top: 20px!important;
}
